.area-map {
  width: 100%;
  .map {
    height: 100%;
    widows: 100%;
  }
}

.username {
  font-size: 18px;
  font-weight: 900;
  margin: 0px 0px 10px 0px;
}
.status {
  font-size: 16px;
  font-weight: 600;
}
.address {
  font-size: 12px;
  margin: 0px;
}
.time {
  font-size: 12px;
  margin: 0px;
}
